<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Subject Scan</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
		<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%3E🦄%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    	<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
	</head>
	<body>
		<h1>{% block header %}{% endblock %}</h1>
		{% block content %}{% endblock %}
		<noscript>JavaScript is required, unfortunately.</noscript>
	</body>
</html>